<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="RemziCicek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RemziCicek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RemziCicek.Properties.Settings>
      <setting name="RemziCicek_com_turkiyeshell_ttstest_TTSWebServices"
        serializeAs="String">
        <value>http://ttstest.turkiyeshell.com/tts/TTSWebServices.asmx</value>
      </setting>
    </RemziCicek.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TTSWebServicesSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport" />
        </binding>
        <binding name="TTSWebServicesSoap1" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tts.turkiyeshell.com/TTS/TTSWebServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="TTSWebServicesSoap"
        contract="ShellServiceClient.TTSWebServicesSoap" name="TTSWebServicesSoap" />
    </client>
  </system.serviceModel>
<connectionStrings>
  <add name="YonavmAracDatasıEntities" connectionString="metadata=res://*/Model_entity.csdl|res://*/Model_entity.ssdl|res://*/Model_entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\YonavmAracDatası.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="RemziCicek.Properties.Settings.YonavmAracDatasıConnectionString"
    connectionString="Server = 192.168.4.24; Database = MDE_GENEL; User Id = sa; Password = MagicUser2023!;"
    providerName="System.Data.SqlClient" />
</connectionStrings><userSettings>
    <RemziCicek.Properties.Settings>
      <setting name="DbNewConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="servisGuncelle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Kodu" serializeAs="String">
        <value>11818213</value>
      </setting>
      <setting name="Adı" serializeAs="String">
        <value>abbasçınar</value>
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value>Ac221980.</value>
      </setting>
      <setting name="VolConnection" serializeAs="String">
        <value>Server = 192.168.4.24; Database = VDB_YON01; User Id = sa; Password = MagicUser2023!;</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
      <setting name="DbName" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="VolFtpPass" serializeAs="String">
        <value />
      </setting>
      <setting name="Vol_SOENTERKEY" serializeAs="String">
        <value />
      </setting>
      <setting name="Vol_SOCODE" serializeAs="String">
        <value />
      </setting>
    </RemziCicek.Properties.Settings>
  </userSettings>
</configuration>